# Import Liabraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Import Data

In [2]:
data = pd.read_csv('/Users/akshatbanthiya/Downloads/insurance.csv')

In [3]:
X = data.iloc[:,:-1]

In [4]:
Y = data.iloc[:,-1]

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Lable Encoding

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [7]:
X['sex'] = le.fit_transform(X['sex'])

In [8]:
X['smoker'] = le.fit_transform(X['smoker'])

In [9]:
X

      age  sex     bmi  children  smoker     region
0      19    0  27.900         0       1  southwest
1      18    1  33.770         1       0  southeast
2      28    1  33.000         3       0  southeast
3      33    1  22.705         0       0  northwest
4      32    1  28.880         0       0  northwest
...   ...  ...     ...       ...     ...        ...
1333   50    1  30.970         3       0  northwest
1334   18    0  31.920         0       0  northeast
1335   18    0  36.850         0       0  southeast
1336   21    0  25.800         0       0  southwest
1337   61    0  29.070         0       1  northwest

[1338 rows x 6 columns]

# One hot encoding

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [11]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [1,4,5])], remainder='passthrough')

In [12]:
X = columnTransformer.fit_transform(X)

In [13]:
print(X)

[[ 1.    0.    0.   ... 19.   27.9   0.  ]
 [ 0.    1.    1.   ... 18.   33.77  1.  ]
 [ 0.    1.    1.   ... 28.   33.    3.  ]
 ...
 [ 1.    0.    1.   ... 18.   36.85  0.  ]
 [ 1.    0.    1.   ... 21.   25.8   0.  ]
 [ 1.    0.    0.   ... 61.   29.07  0.  ]]

# Train test split

In [14]:
import numpy as np
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

# Feature Scaing

In [16]:
from sklearn import preprocessing

In [17]:
sc = preprocessing.StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

# Building Linear Model

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [19]:
model = LinearRegression()

In [20]:
poly = PolynomialFeatures(degree = 2)

In [33]:
X_train_poly = poly.fit_transform(X_train)

In [34]:
model.fit(X_train_poly,y_train)

LinearRegression()

In [35]:
X_train.shape

(1070, 11)

In [36]:
X_train_poly.shape

(1070, 78)

# Making prediction

In [37]:
X_test_poly = poly.fit_transform(X_test)
y_pred = model.predict(X_test_poly)

In [38]:
#print(y_pred)

# Compairing Results

In [39]:
comparision = pd.DataFrame()

In [40]:
comparision['Actual'] = y_test

In [41]:
comparision['predicted'] = y_pred

In [42]:
comparision

           Actual  predicted
559    1646.42970     3776.0
1087  11353.22760    12440.0
1020   8798.59300    10200.0
460   10381.47870    11536.0
802    2103.08000     2592.0
...           ...        ...
682   40103.89000    38464.0
629   42983.45850    44208.0
893   44202.65360    45056.0
807    2136.88225     4448.0
1165   5227.98875     6624.0

[268 rows x 2 columns]

# Evaluation

In [43]:
from sklearn.metrics import r2_score

In [44]:
r2_score(y_test, y_pred)

0.8622329002398016